*{
        margin:0%;
        padding:0%;
        box-sizing:border-box;
        font-fa
        mily: 'Gill Sans';
    }
    
    html,body{
        height:100%;
        width:100%;
    }
    #main
    {
        height:100%;
        width:100%;
    }
    #header
    {
        height:10%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(196,164,132);
        position:fixed;
    }
    #fakeheader
    {
        height:10%;
        width:100%;
    }
    #syllabus
    {
            height:90vh;
            width:100%; 
            background-color: rgb(245,245,220);
            align-items: center;
            justify-content:center;
         
    }
